* {
    font-family: Verdana;
}

.temperature {
    font-weight: bold;
    font-size: large;
}

.humidity {
    font-weight: bold;
    font-size: large;
}

.control, .control-selected {
    border-radius: 10px;
    border: 2px solid darkslateblue;
    width: 150px;
    text-align: center;
    padding: 1px;
    font-weight: bold;
    margin: 2px;
}

.control {
    background-color: deepskyblue;
}

.control-selected {
    background-color: cornflowerblue;
}