<!DOCTYPE html>
<html>
<head>
    {% block head %}
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/css/temperature-server.css" />
        <script src="/static/js/temperature-server.js" type="text/javascript"></script>
        <script type="text/javascript" src="http://yandex.st/jquery/2.0.3/jquery.js"></script>
        <title>{% block title %}{% endblock %} - Home weather</title>
    {% endblock %}
</head>
<body>
    <section class="main">
        {% block content %}{% endblock %}
    </section>
    <footer>
        {% block footer %}
            &copy; Copyright 2013 by Pavlo Kundirenko.
        {% endblock %}
    </footer>
    <script type="text/javascript">
        {% block javascript_include %}{% endblock %}
    </script>
</body>
</html>