{% extends "basic.html" %}
{% block title %}Main page{% endblock %}
{% block head %}
    {{ super() }}
    <script src="http://yandex.st/jquery/flot/0.7/jquery.flot.js" type="text/javascript"></script>
    <script src="/static/js/lib/moment.js" type="text/javascript"></script>
{% endblock %}
{% block content %}
    <div style="display: inline;">
        <div id="flotContainer" style="width:800px; height:400px;display: inline-block;"></div>
    </div>
    <div id="measurers" class="measurers-list"></div>
    <div id="flotControls">
        <div class="control" id="last_24h">Last 24h</div>
        <div class="control" id="last_week">Last week</div>
        <div class="control" id="last_month">Last month</div>
        <div class="control" id="all">All time</div>
    </div>
{% endblock %}
{% block javascript_include %}
    {{ super() }}
    jQuery(document).ready(function() {
        retrieveMeasurers();
        var date_format = 'DD-MM-YYYYTHH:mm:SS';
        retrieveFlotData(
            'temperature/period/day/'
                + moment().subtract('days', 7).format(date_format)
                + '/'
                + moment().format(date_format)
                + '/2',
            'flotContainer');
    })
{% endblock %}